// global configurations
nextflow.enable.dsl=2

// Set a default location to circumvent warning of no initialized value
params {
    outfolder = '$SCRATCH'
}

// profile dependendent configurations
profiles {
    omics {
        conda {
            enabled = true
        }
        singularity {
            enabled = true
            cacheDir = "$WORK/singularity/"
        }
        executor {
            $slurm {
                queue = "shortterm"
            }
        }
        // use singularity for everything
        /* conda {
            enabled = true
        } */
        queue = "shortterm"
        workDir = "$WORK/nanopore_workdir"
        process {
            executor = 'slurm'
            scratch =  '$SCRATCH/' // has to be single quotes. Otherwise it gets expanded before creating a new slurm job
            withLabel: tiny {
                cpus = 1
                memory = 128.MB
                executor = "local"
            }
            withLabel: alignment {
                container = "saranyabalachandr/nanopore_omics:v1"
                cpus = 1
                memory = 70.GB
            }
	withName: alignment_minimap {
	publishDir = [ path: "${params.outfolder}",
                            mode: 'copy' ]
	}
  withName: call_str_trgt {
  container = "quay.io/pacbio/trgt:4.0.0_build1"
	publishDir = [ path: "${params.outfolder}",
                            mode: 'copy' ]
 	}
  withName: plot_str_trgt {
  container = "quay.io/pacbio/trgt:4.0.0_build1"
  publishDir = [ path: "${params.outfolder}",
                              mode: 'copy' ]
   }
 withName: annotate_repeat_expansions {
    container = "saranyabalachandr/nanopore_straglr_v1.5.5"
  	publishDir = [ path: "${params.outfolder}",
                              mode: 'copy' ]
        }
    }
}
}
